<!DOCTYPE html>
<html lang="en">
<body class="detail-page page" ng-app="IndEntnApp">
    <div class="headerWrap registerfrm faqs">
        <section id="breadcrumbs">
            <div class="container">
                <div class="row">
                    <span class="url_lnk hme"><a href="javascript:;" title="Home" class="home_icon">Home</a></span> <b>&gt;</b> <span class="url_lnk">FAQ's</span>
                </div>
            </div>
        </section>

        <section id="home-banner" class="home-banner register-frm-wrp">
            <div class="container text-left">
                <p class="sub-title text-center">FAQ's</p>
                <br />
                <div class="trending_perf_wrp project_section prof_sec">
                    <div class="trending_perf">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                            What is IndiaEntertainers.com?
                                            <i class="indicator glyphicon pull-right glyphicon-chevron-up"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <p><b>–</b> IndiaEntertainers.com is an online platform that provides ‘seamless connectivity’ between the Performing Artists (Entertainers or their immediate Managers) and Talent-Seekers. There are absolutely no unnecessary intermediaries in between (not even us). </p>
                                        <p><b>–</b> Any Talent-Seeker that wishes to contact any Entertainer profiled on indiaentertainers.com (for the purpose of any show/event/project) can connect directly with the Entertainer. </p>
                                        <p><b>–</b> Simply put, IndiaEntertainers.com is ‘a powerful gateway for more assignments’ for Entertainers and ‘the most powerful search tool’ providing quick, easy and more options for Talent-Seekers.</p>
                                        <p><b>–</b> All Users on IndiaEntertainers.com are verified and shortlisted (to the best extent possible) to enable quality connections for both communities.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                            Who can register?
                                            <i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <p><b>–</b> 	<b>Any Entertainer</b> (Singer, Dancer, Anchor, DJ, Variety Entertainer and more)ready to perform for projects (Shows, Events, Music Videos etc) anywhere in India or abroad.   Exceptionally talented beginners are also welcome.</p>
                                        <p><b>–</b> <b>Talent Managers representing any artist/s</b> either exclusively or otherwise. The Talent Managers will need to secure the necessary confirmation from the artist/s authorizing the manager to represent the artist/s exclusively on IndiaEntertainers.com.</p>

                                        <p><b>–</b> <b>Talent-Seekers such</b> as </p>
                                        <ul>
                                            <li><p>Institutional Talent Seekers such as Film/TV/Music Videos or Short Film Production Companies, Event Management Companies and </p></li>
                                            <li><p>Genuine End-Clients, i.e. Individuals or Organizations searching for Entertainers for their own events / shows / projects</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                            Are there any charges payable? Any percentage from fees earned or any fixed fees?
                                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <p><b>–</b> NO. All services on the platform are currently FREE. In the near future, we will be adding optional, value-added services which will be charged nominally. However, even then, we intend providing the basic features for both communities free of cost. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                            How do I register?
                                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">

                                        <p><b>–</b> You have to fill in the online Registration Form. Your profile will be activated once you have filled in all the critical details. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                            Does IndiaEntertainers.com assure more enquiries and more assignments for entertainers?
                                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <p><b>–</b> Well, only your own talent, sincerity, dedication and commitment can guarantee you assignments. What we assure is one of the Fastest & Widest reach. As mentioned earlier, indiaentertainers.com is the only platform that connects you DIRECTLY with the Talent-Seekers. We are investing heavily in Technology and Global Marketing and expect to register one of the widest bases of reputed Talent-Seekers worldwide. In effect, you will be able to showcase your profile and latest gigs ‘directly’ to one of the largest base of genuine Talent-Seekers. This would ‘almost guarantee’ you more fame, more exposure and more assignments, based on your talent of course. </p>

                                        <p><b>–</b> We shall also be, in the near future, offering a range of well-defined, innovative, Online and Offline support services to market your talent, aggressively and assertively. </p>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title padding0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                                            How does indiaentertainers.com benefit if it is offering free services to both communities? Is there any hidden costs?
                                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <p><b>–</b> There are absolutely no hidden costs in the free services being offered. Our mission is to ‘seamlessly link’ a large part of the Entertainment industry (Events, Television/Films and Theatre) and the current range of services is just the first step towards that. </p>
                                        <p><b>–</b>	We intend to provide the basic services to both communities free-of-cost forever.</p>
                                        <p><b>–</b>	Our benefits will be derived from a range of optional, value-added, paid services; which will be introduced in the near future and which shall be our prime revenue source. </p>
                                        <p><b>–</b>	Additionally, we shall also be offering Talent Management Services (exclusive as well as non-exclusive) via the platform. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="clrwhite">In case you have any query not answered by the above, please feel to drop us a mail on <a href="mailto:info@indiaentertainers.com">info@indiaentertainers.com</a> and our team shall get back to you with relevant details.</p>
            </div>
        </section>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" ng-controller="IndEntnJSController">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form log-reg">
                            <ul class="tab-group">
                                <li class="tab active current" data-tab="login"><a href="javascript:;" class="">Log In</a></li>
                                <li class="tab" data-tab="signup"><a href="javascript:;">Sign Up</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="login" class="tab-content_div current">
                                    <ng-form name="logform">
                                        <fieldset>
                                            <h1>Welcome Back!</h1>
                                            <div class="field-wrap">
                                                <label>
                                                    User Name<span class="req">*</span>
                                                </label>
                                                <input type="text" ng-disabled="fielddisablel" class="form-control" ng-model="loginModel.UserName" required>
                                            </div>

                                            <div class="field-wrap">
                                                <label>
                                                    Password<span class="req">*</span>
                                                </label>
                                                <input id="pass_usr" ng-disabled="fielddisablel" class="form-control" type="password" ng-model="loginModel.password" required />
                                            </div>
                                            <p class="text-danger"> {{loginMessage}}</p>
                                            <p class="forgot"><a href="#">Forgot Password?</a></p>

                                            <button class="button button-block" id="login_frm" type="submit" data-ng-disabled="!logform.$valid" data-ng-click="loginform(loginModel)" value="login" name="login">Log In</button>
                                        </fieldset>
                                    </ng-form>
                                </div>

                                <div id="signup" class="tab-content_div">
                                    <ng-form name="Reggform">
                                        <fieldset>
                                            <h1>Sign Up for Free</h1>
                                            <div class="top-row">
                                                <div class="field-wrap">
                                                    <label>
                                                        Email<span class="req">*</span>
                                                    </label>
                                                    <input type="email" ng-disabled="fielddisabler" class="form-control" ng-model="RegModel.Email" required>
                                                </div>
                                                <div class="field-wrap">
                                                    <label>
                                                        Register As
                                                    </label>
                                                    @IndiaEntertainers.HTMLHelper.CustomHelper.ReqAsDropDownList("RegModel.UserType", "form-control", "UserType", null, "required")
                                                </div>
                                                <div class="field-wrap">
                                                    <label>
                                                        UserName<span class="req">*</span>
                                                    </label>
                                                    <input type="text" ng-disabled="fielddisabler" class="form-control" ng-model="RegModel.UserName" required>
                                                </div>
                                                <div class="field-wrap">
                                                    <label>
                                                        Set A Password<span class="req">*</span>
                                                    </label>
                                                    <input type="password" ng-disabled="fielddisabler" class="form-control" ng-model="RegModel.password" id="password1" required>
                                                </div>
                                                @*<div class="field-wrap">
                                                        <label>
                                                            Confirm Password<span class="req">*</span>
                                                        </label>
                                                        <input type="password" class="form-control" ng-model="RegModel.ConfirmPassword" id="password2" required="" autocomplete="off" value="">
                                                    </div>*@
                                            </div>
                                            <br />
                                            <p class="text-info">{{Reqmessage}}</p>
                                            <button type="submit" class="button button-block" id="register_frm" data-ng-disabled="!Reggform.$valid" data-ng-click="SubmitReqForm(RegModel)" value="register" name="register">Register</button>
                                        </fieldset>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contactdialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form log-reg">
                            <div id="logindiv">
                                <h1>Contact Us</h1>

                                <form action="" role="form" method="post" autocomplete="false">
                                    <div class="field-wrap">
                                        <label>
                                            Name<span class="req">*</span>
                                        </label>
                                        <input class="form-control" id="login_usr" type="text" autocomplete="false" name="name" required="" value="">
                                    </div>

                                    <div class="field-wrap">
                                        <label>
                                            Email ID<span class="req">*</span>
                                        </label>
                                        <input class="form-control" id="login_usr" type="email" autocomplete="false" name="email" required="" value="">
                                    </div>


                                    <div class="field-wrap">
                                        <label>
                                            Message<span class="req">*</span>
                                        </label>
                                        <textarea class="form-control" placeholder="Max 100 Characters" rows="3" id="comment"></textarea>
                                    </div>

                                    <button class="button button-block" id="login_frm" type="submit" value="login" name="login">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
