<!DOCTYPE html>
<html lang="en">

<head>
    <title>India’s Trending & Interactive Online Artist Booking Platform</title>
    <meta name="description" content="We are India's first, exclusive, interactive platform that connects 'Professional entertainers and 'Talent Seekers'- seamlessly, directly, instantly, globally!">
    <meta name="keywords" content="about India Entertainers">
</head>

<body class="homepage" ng-app="IndEntnApp">
    @section pagetitle
{
        <section id="breadcrumbs">
            <div class="container">
                <div class="row">
                    <span class="url_lnk hme"><a href="@Url.Action("Index","Home",new { area = ""}, null)" title="Home" class="home_icon">Home</a></span> <b>&gt;</b> <span class="url_lnk">About us</span>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h1 class="page-title">About Us<span class="page-sub"></span></h1>
                </div>
            </div>
        </section>

    }

    <section id="aboutus" style="text-align:center;">
        <div class="container">
            <div class="row" style="font-size: 20px;line-height: 30px;font-family: 'DroidSerif';color: rgb(29, 37, 48);">
                <p class="abtbtm">We are India's first, exclusive, interactive platform that connects 'Professional Entertainers and Talent-Seekers'<br />seamlessly, directly, instantly, globally!</br> If you are a potential entertainer looking for more assignments, or if you are a talent-seeker looking for entertainers,<br /> there is no better place to be in. </p>
            </div>
        </div>
    </section>

    <section id="aboutus">
        <div class="container">
            <div class="row">

                <div class="aboutus animated">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-wrap">
                            <div class="about_img">
                                <img src="~/images/about-img-1.png" alt="" class="img-responsive" />
                            </div>

                            <div class="about_dtl">
                                <p class="abttop">Seamlessly Connecting The Entertainment Industry</p>
                                <p class="abtbtm">India's first and exclusive platform connecting verified Entertainers  with thousands of Talent-Seekers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-wrap">
                            <div class="about_img">
                                <img src="~/images/about-img-2.png" alt="" class="img-responsive" />
                            </div>

                            <div class="about_dtl">
                                <p class="abttop">Helps Entertainers Raise Their Exposure Globally</p>
                                <p class="abtbtm">We help Entertainers raise their exposure (and with time, their price); publicize gigs, get noticed and get assignments from anywhere in the world! </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-wrap">
                            <div class="about_img">
                                <img src="~/images/about-img-3.png" alt="" class="img-responsive" />
                            </div>

                            <div class="about_dtl">
                                <p class="abttop">No Intermediaries Between Entertainers & Talent-Seekers</p>
                                <p class="abtbtm">We enable the fastest & the widest reach for both communities, with absolutely no unnecessary agencies in between!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



</body>
</html>

@section scripts
{

}