@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row detail-page page">
    <div class="container">
        @*<section id="breadcrumbs">
            <div class="container">
                <div class="row">
                    <span class="url_lnk hme"><a href="javascript:;" title="Home" class="home_icon">Home</a></span> <b>&gt;</b> <span class="url_lnk">How to Create Your Profile?</span>
                </div>
            </div>
        </section>*@

        <section id="home-banner" class="home-banner register-frm-wrp">
            <div class="container text-left">
                <h2 class="sub-title text-center">How to Create Your Profile?</h2>
                <br />
                <p>Please fill in all the information asked for, on the left-hand side column, by clicking on ‘EditDetails’ tab.</b></p>
                <p>Click on the ‘Cover Picture’ and ‘Profile Picture’ tab to upload the respective pictures.</p>
                <p>Click on ‘Add new video’ to add your videos.</p>
                <p>Click on ‘Add new picture’ to upload your pictures.</p>
                <p>Click on ‘Edit Profile’ to fill in your profile content.</p>
                <br /><br />
                <p class="text-center">Once you have filled in all these, your Profile will be live on the indiaentertainers.com.</p>
            </div>
        </section>
    </div>
</div>


