
@{
    ViewBag.Title = "TnC";
}
@section pagetitle
{
    <section id="breadcrumbs">
        <div class="container">
            <div class="row">
                <span class="url_lnk hme"><a href="@Url.Action("Index","Home",new { area = ""}, null)" title="Home" class="home_icon">Home</a></span> <b>&gt;</b> <span class="url_lnk">Visitor Agreement & Privacy Policy</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="page-title">Visitor Agreement & Privacy Policy<span class="page-sub"></span></h1>
            </div>
        </div>
    </section>

}
<div class="container">

    <div class="row">
        <br /><br />
        <p class="abtbtm" style="padding-left:40px;">
            www.indiaentertainers.com (including any of its sub–domains and mobile versions thereof (hereinafter called the “Site”) is owned and operated by Showt-Owt Entertainment Pvt Ltd.
            The Site provides the facility to Connect performing artists, musicians, talent managers,
            etc (hereinafter referred to as “Entertainers”), and Institutional and Individual buyers of all types (be it an Events or Entertainment Company,
            Corporate or Individual; hereinafter referred to as “Talent Seekers”). Additionally, both these kinds of Users are hereinafter referred to as User/Users or Member/Members.
        </p>
        <p class="abtbtm" style="padding-left:40px;"> The Users agrees that their use of the Site constitutes their acceptance of all the Terms and Conditions set herein. </p>
        <ol type="1" style="padding-left:40px;">
            <li class="abttop">
                The User agrees that:
                <ol type="a">
                    <li>He or she is over 18 years of age, which is the minimum legal age to enter into a contract.</li>
                    <li>All information provided by him/her herein is accurate to the best of his/her knowledge.</li>
                    <li>He/she is authorized to upload the said content. For eg. in case a Talent Manager is uploading the profile of any Entertainer/s, he/she confirms that he/she has the necessary authority from the Entertainer/s in question.</li>
                    <li>He/she is responsible for all content entered by him/her.</li>
                    <li>He/she will not use any inappropriate language on the site and shall neither harass, stalk, malign nor abuse any other User on the site.</li>
                    <li>He/she will not upload any objectionable content including unauthorized content, illegal content, porn, etc.</li>
                    <li>He/she will not download to re-use any content from the Site on any other public platform.</li>
                    <li>He/she will use the platform only for its intended purposes; i.e. for basic connects and business enquiries related to Entertainer’s performing act/s.</li>
                    <li>He/she indemnifies the Site and its owners from any damages or claims that would arise due to his/her actions.</li>
                </ol>
            </li>
            <li class="abttop">
                IndiaEntertainers.com reserves the right to:
                <ol type="a">
                    <li>Delete any User profile that it may seem not fit for the platform, for any reasons whatsoever.</li>
                    <li>Make any changes in its features and content.</li>
                    <li>Modify the fee structure/s</li>
                    <li>Make any appropriate changes in the User content, which is from any published source/s (websites / social media / media).</li>
                    <li>Use any part of the User content for the purposes of promoting the site or promoting its Users.</li>
                </ol>
            </li>
            <li class="abttop">
                The Site is just a platform enabling easy and convenient reach between the two communities. The Site is not responsible for any actions and decisions that you may take based on information provided by the Users of the site. The Site is not responsible for any dealings between the Users.
                <ol type="a">
                    <li>The Site is not responsible for any losses / eventualities / experiences you may face due to any tie-ups you may make on the Site.</li>
                    <li>The Site is not responsible for the performance of any external link/s provided on the site.</li>
                    <li>There is no commitment from the Site of any fixed gigs / contracts. The Site’s role is limited to providing and maintaining the site and it is no way party to any contract/s entered into by any user/s.</li>
                </ol>
            </li>
            <li class="abttop">Although the Site tries to filter out content that it may find unsuitable for the platform, it is not liable for any Users’ actions based on available content.</li>
            <li class="abttop">The User grants the Site a royalty-free license to use any part of his/her content (including photographs and/or videos) on any private or public platform for the purposes of Site promotions or tie-ups.</li>
            <li class="abttop">The Site is not responsible for any downtimes that may occur due to any software / hardware / network issues.</li>
            <li class="abttop">The jurisdiction for resolving any disputes shall be the courts of Mumbai.</li>
        </ol>
    </div>
</div>



